* {

    font-family: Helvetica, Arial, sans-serif;
    max-width: 1000px;
    padding: 6px;
    margin: 6px auto;

}

.odin {

    color: rgb(255, 166, 0);

    font-size: 26px;

}

.title {

    text-align: center;

}


img {

    display: block;
    width: 800px;
    margin: 0px auto;
    
}

h2 {

    margin-top: 18px;

}

p, li{

    font-size: 18px;

}